In [4]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}

def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]

input_data = [
{'employee_name': 'Susan', 'salary': 100000.0,
'state_code': 'WA'},
{'employee_name': 'Ellen', 'salary': 75000.0,
'state_code': 'TX'},
]

for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print(name + ' now lives in ' + state)
    print ('and makes $' + str(salary))

Susan now lives in Washington
and makes $105000.0
Ellen now lives in Texas
and makes $78750.0

In [5]:
my_integer = 2
my_other_integer = 2 + 3
my_float = 2.0
my_true_bool = True
my_false_bool = False
this_is_true = (0 < 100)
this_is_false = (0 > 100)

In [35]:
print(my_integer)
print(my_other_integer)
print(my_float)
print(my_true_bool)
print(my_false_bool)
print(this_is_true)
print(this_is_false)

2
5
2.0
True
False
True
False

In [6]:
a_string = "hello"
same_as_previous = 'hello'
an_empty_string = ""
w_a_single_quote = "hello's"
multi_line_string = """line 1 line 2"""

In [36]:
print(a_string)
print(same_as_previous)
print(an_empty_string)
print(w_a_single_quote)
print(multi_line_string)

hello
hello

hello's
line 1 line 2

In [7]:
print("ABCD"[0])
print("ABCD"[0:2])
print("ABCD"[1:3])

A
AB
BC

In [8]:
a = 5 
def sqr(x):
    "This function just squares its input "
    return x * x
sqr(5)

25

In [9]:
my_list = ["a ", "b ", "c "]
my_set = set(my_list)
my_tuple = tuple(my_list)

In [38]:
print(my_set)
print(my_tuple)

{'b ', 'a ', 'c '}
('a ', 'b ', 'c ')

In [39]:
my_list = ["a ", "b ", "c "]
print(my_list[0])

a

In [40]:
my_list[0] = "A " 
my_list.append("d ") 

mixed_list = ["A ", 5.7, "B ", [1,2,3]]

In [41]:
print(my_list)
print(mixed_list)

['A ', 'b ', 'c ', 'd ']
['A ', 5.7, 'B ', [1, 2, 3]]

In [42]:
original_list = [1,2,3,4,5,6,7,8]
squares = [x*x for x in original_list]
squares_of_evens = [x*x for x in original_list]

In [43]:
print(original_list)
print(squares)
print(squares_of_evens)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64]

In [12]:
my_list = ["a", "b", "c"]
first_two_elements = my_list[0:3]
last_two_elements = my_list[1:]
all_but_last_element = my_list[:-1]

In [44]:
print(my_list)
print(first_two_elements)
print(last_two_elements)
print(all_but_last_element)

['A ', 'b ', 'c ', 'd ']
['a', 'b', 'c']
['b', 'c']
['a', 'b']

In [13]:
print("ABC DEF".split())
print("ABC \tDEF".split())
print("ABC \tDEF".split(' '))
print("ABCABD".split("AB"))
print(",".join(["A", "B", "C"]))

['ABC', 'DEF']
['ABC', 'DEF']
['ABC', '\tDEF']
['', 'C', 'D']
A,B,C

In [14]:
start, end, count_by = 1, 7, 2
"ABCDEFG"[start: end: count_by]

'BDF'

In [15]:
my_dict = {"January": 1, "February":2}
print(my_dict["January"])
my_dict["March"] = 3 
my_dict["January"] = "Start of the year"

1

In [16]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()

In [45]:
print(pairs)
print(as_dict)
print(same_as_pairs)

[('one', 1), ('two', 2)]
{'one': 1, 'two': 2}
dict_items([('one', 1), ('two', 2)])

In [46]:
s = set()
print(5 in s)
s.add(5)
print(5 in s)

False
True

In [18]:
def my_function(x):
    y = x+1
    x_sqrd = x*x
    return x_sqrd
five_plus_one_sqrd = my_function(5)

In [48]:
five_plus_one_sqrd

25

In [19]:
def rais(x, n=2):
    return pow(x,n)
two_sqrd = rais(2)
two_cubed = rais(2, n=3)

In [49]:
print(two_sqrd)
print(two_cubed)

4
8

In [51]:
sqr = lambda x : x*x
five_sqrd = sqr(5)

In [52]:
five_sqrd

25

In [21]:
def apply_to_evens(a_list, a_func):
    return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)

In [53]:
sqrs_of_evens

[4, 16]

In [22]:
my_list = [1, 2, 3]
for x in my_list:
    print ("the number is ", x)
for key, value in my_dict.items():
    print("the value for ", key, " is ", value)

the number is  1
the number is  2
the number is  3
the value for  January  is  Start of the year
the value for  February  is  2
the value for  March  is  3

In [23]:
i=6
if i < 3:
    print("i is less than three")
elif i < 5: 
    print("i is between 3 and 5")
else: 
    print("i is greater than 5")
i = 2
while i < 5:
    print("i is still less than five")
    i = i+1

i is greater than 5
i is still less than five
i is still less than five
i is still less than five

In [24]:
try:
    lines = input_text.split("\n")
    print("tenth line was: ", lines[9])
except:
    print("There were < 10 lines")

There were < 10 lines

In [25]:
class Dog:
    def __init__(self, name):
        self.name = name
    def respond_to_command(self, command):
        if command == self.name: self.speak()
    def speak(self):
        print("bark bark!!")
fido = Dog("fido")
fido.respond_to_command("spot") 
fido.respond_to_command("fido")

bark bark!!

In [26]:
a = 5 # a is a hashable int
b = a # b points to a COPY of a
a = a + 1
print(b) # b has NOT been incremented
A = [] # A is an UNhashable list
B = A # B points to the SAME list as A.
A.append(5)
print(B)

5
[5]

In [27]:
A = [{}, {}] # list of dicts
B = [x for x in A]
A[0]["name"] = "bob"
B[0]["name"]

'bob'

In [54]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
"name": ["Bob", "Alex", "Janice"],
"age": [60, 25, 33]
})
# Reading a DataFrame from a file
#other_df = pd.read_csv(“myfile.csv”)
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30) # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [55]:
df

   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True

In [29]:
df = pd.DataFrame({
"name": ["Bob", "Alex", "Jane"],
"age": [60, 25, 33]})
print(df.index) # prints 0‐2, the line numbers
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name")
print (df_w_name_as_ind.index) # prints their names
# Get the row for Bob
bobs_row = df_w_name_as_ind.ix["Bob"]
print (bobs_row["age"]) # prints 60

RangeIndex(start=0, stop=3, step=1)
Index(['Bob', 'Alex', 'Jane'], dtype='object', name='name')
60

C:\Users\harik\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.

In [30]:
import pandas as pd
s = pd.Series([1,2,3]) # make Series from list
# display the values in s
# note index is to the far left
print(s)
print(s+2) # Add a number to each element of s
print(s.index) # you can access the index directly
# Adding two series will add corresponding elements to each other
print(s + pd.Series([4,4,5]))
bobs_row = df_w_name_as_ind.ix["Bob"]
type(bobs_row)
print(bobs_row)

0    1
1    2
2    3
dtype: int64
0    3
1    4
2    5
dtype: int64
RangeIndex(start=0, stop=3, step=1)
0    5
1    6
2    8
dtype: int64
age    60
Name: Bob, dtype: int64

In [31]:
df_w_age = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33]})
df_w_height = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"height": [6.2, 4.0, 5.5]
})
joined = df_w_age.set_index("name").join(
df_w_height.set_index("name"))
print(joined)
print(joined.reset_index())

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5
     name  age  height
0     Tom   60     6.2
1  Tyrell   25     4.0
2  Claire   33     5.5

In [32]:
df = pd.DataFrame({
"name": ["Tom", "Tyrell", "Claire"],
"age": [60, 25, 33],
"height": [6.2, 4.0, 5.5],

"gender": ["M", "M", "F"]
})
# use built-in aggregates
print(df.groupby("gender").mean())
medians = df.groupby("gender").quantile(0.5)
# Use a custom aggregation function
def agg(ddf):
    return pd.Series({
    "name": max(ddf["name"]),
    "oldest": max(ddf["age"]),
    "mean_height": ddf["height"].mean()
                        })
print(df.groupby("gender").apply(agg))

         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60